<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/mainmetas.ejs') %>
    <title>TWP | <%= title %></title>
    <link rel="stylesheet" href="/css/landing.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="/images/twp_logo.jpg" type="image/x-icon">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "The Webtoon Project",
          "description": "Explore a vast collection of engaging webtoons and comics on The Webtoon Project. Immerse yourself in captivating stories and unique artwork. Start reading now!",
          "url": "https://thewebtoonproject.com/twp/home"
        }
    </script> 
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <section class="main">
     
        <div class="bill">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/WELCOME TO TWP (2).png" class="intro-bill-img" alt="">    
                     </div>

                        <% let sortedToonz = toonz?.sort((a,b) => a.subscription - b.subscription) %>
                        <% let displayToonz = sortedToonz?.slice(0,3) %>
                        <% displayToonz?.forEach((toon, i) => { %>
                            <div class="swiper-slide">
                                <img src="<%= toon.coverImage %>" alt="">
                                <div class="slide-overlay">
                                    <div class="title mobile-display"><%= toon.title %></div>
                                    <div class="genre mobile-display"><%= toon.genre %></div>
                                    <a href="/twp/webtoon/<%= toon.id %>"><div class="btn">View</div></a>
                                </div>
                             </div>
                        <% }); %>
                  
    
                </div>
                <div class="swiper-button-next" style="color: #e44616;"></div>
                <div class="swiper-button-prev" style="color: #e44616;"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="recent">
            <div class="title"> <hr> <div class="R">New Series</div> <hr></div>
            <div class="container">
                <% if(toonz){ %>
                    <% toonz.forEach((toon, i) => { %>
                        <div data-aos="zoom-out-down">
                            <div class="webToon">
                                <div class="img-cover">
                                    <a href="/twp/webtoon/<%= toon.id %>">
                                        <img src="<%= toon.coverImage %>" alt="<%= toon.title %>">
                                    </a>
                                </div>
                                <div class="webToonDetails">
                                    <div class="name">
                                        <a href="/twp/webtoon/<%= toon.id %>"><%= toon.title %></a>
                                    </div> 
                                    <span class="genres"><%= toon.genre %></span>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } %>    
            </div>
            <div class="more">
                <a href="/twp/webtoon">more..</a>
            </div>
        </div>

        <div class="recent">
            <div class="title TC"> <hr><div class="C">New Chapters</div><hr> </div>
            <div class="container">
                <% if(eps){ %>
                    <% eps.forEach((ep, i) => { %>
                        <% let time = 100 / (i + 2) %>
                        <div class="webToon">
                            <div class="img-cover">
                                <a href="/twp/webtoon/episode/<%= ep.id %>">
                                    <img src="<%= ep.coverImage %>" alt="<%= ep.title %>">
                                </a>
                            </div>
                            <div class="webToonDetails">
                                <div class="name">
                                    <a href="/twp/webtoon/episode/<%= ep.id %>"><%= ep.title %></a>
                                </div> 
                                <span class="genres"><%= ep.releaseDate %></span>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
            <div class="more">
                <a href="/twp/webtoon">more..</a>
            </div>
        </div>
        <!-- <hr> -->
        <div class="scriptures">
            <div class="title">Scripture for the week</div>
            <div class="bible"><%= scripture[0]?.word %></div>
            <div class="bible-v"><%= scripture[0]?.book %></div>
        </div>
        
    </section>
    <%- include('./partials/preloader.ejs') %>

    <%- include('./partials/footer.ejs') %>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="/js/landing.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 4500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        });
    </script>
</body>
</html>